
/*FLEXBOX SEARCH RESULT LANDING PAGE LAYOUT */

.resultsPageLayout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /*flex-wrap: wrap;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*max-width: 1200px;*/
    /*padding: 0 20px;*/
    /*box-sizing: border-box;*/
}




.bar {
    flex-basis: 100%;
    padding: 0.25rem;
    margin: 20px;
    /*background-color: blue;*/

}




/*RESULTS CONTAINER BOX LAYOUT  */
.results-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*background-color: red;*/

}
/*ITEM #1*/

.categories-section {
    flex-basis: 200px;
    flex-shrink: 1;
    margin: 30px 0px 0px 70px;

}


/*ITEM #2 */
.search-results {
    margin: 20px 70px 0px 0px;
    flex: 1 1 fit-content;


}

/*PAGINATION CONTAINER */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
    /*background-color: green;*/
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin: 0;
}
.pagination-buttons button{
    display: inline-block;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pagination-buttons button:hover {
    background-color: #333;
    color: #fff;
}


