

.tv-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}






.subtitle {
    color: #333333;
    margin-bottom: 0%;
}

.title {
    display: flex;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0%;
    align-self: flex-start;

}

.title a {
    text-decoration: none;

}

.date {
    display: flex;
    align-self: flex-start;
    color: black;
    font-weight: 200;
    font-size: 0.7rem;
    margin-bottom: 0%;

}




