:root {
    --light-blue: rgb(1, 180, 228);
    --dark-blue: rgb(3,37,65);
    --light-grey: rgb(227, 227, 227);
    --dark-grey: rgb(200, 200, 200);
    --lighther-green: rgb(192, 254, 207);
    --light-green: rgb(30, 213, 169);
    --logo-green: rgb(144, 206, 161);
    --logo-orange: rgb(253,193,112);
    --logo-red: rgb(217, 59, 99);
    --scroll-color: rgb(219, 219, 219);



}



body {
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    background: white;

}

a {
    text-decoration: none;
    color: black;
}