:root {
    --light-blue: #30BBD2;
    --medium-blue: #02557E;
    --dark-blue:#022541;
    --light-grey: rgb(227, 227, 227);
    --dark-grey: rgb(200, 200, 200);
    --lighter-green: #6BC5B4;
    --logo-green: rgb(144, 206, 161);
    --logo-orange: rgb(253,193,112);
    --logo-red: rgb(217, 59, 99);
    --scroll-color: rgb(219, 219, 219);



}

